<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.rezmaEntity.home.title">Rezma Entities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rezma-entity" [routerLink]="['/rezma-entity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.rezmaEntity.home.createLabel">
            Create a new Rezma Entity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="rezmaEntities?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.rezmaEntity.home.notFound">No rezmaEntities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="rezmaEntities && rezmaEntities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.rezmaEntity.entName">Ent Name</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.rezmaEntity.entAddress">Ent Address</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.rezmaEntity.entSystemDate">Ent System Date</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.rezmaEntity.entCreatedBy">Ent Created By</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.rezmaEntity.entIdentifier">Ent Identifier</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.rezmaEntity.entType">Ent Type</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.rezmaEntity.entCountry">Ent Country</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.rezmaEntity.entIdentifierType">Ent Identifier Type</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.rezmaEntity.entTin">Ent Tin</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.rezmaEntity.entDOB">Ent DOB</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rezmaEntity of rezmaEntities ;trackBy: trackId">
                    <td><a [routerLink]="['/rezma-entity', rezmaEntity.id, 'view']">{{ rezmaEntity.id }}</a></td>
                    <td>{{ rezmaEntity.entName }}</td>
                    <td>{{ rezmaEntity.entAddress }}</td>
                    <td>{{ rezmaEntity.entSystemDate | date:'medium' }}</td>
                    <td>{{ rezmaEntity.entCreatedBy }}</td>
                    <td>{{ rezmaEntity.entIdentifier }}</td>
                    <td>{{ rezmaEntity.entType }}</td>
                    <td>{{ rezmaEntity.entCountry }}</td>
                    <td>{{ rezmaEntity.entIdentifierType }}</td>
                    <td>{{ rezmaEntity.entTin }}</td>
                    <td>{{ rezmaEntity.entDOB }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/rezma-entity', rezmaEntity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/rezma-entity', rezmaEntity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(rezmaEntity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
