<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-schedule-lock-heading" jhiTranslate="jhipsterSampleApplicationApp.scheduleLock.home.createOrEditLabel">Create or edit a Schedule Lock</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.scheduleLock.slcName" for="field_slcName">Slc Name</label>
                    <input type="text" class="form-control" name="slcName" id="field_slcName"
                           formControlName="slcName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.scheduleLock.slcLockUntil" for="field_slcLockUntil">Slc Lock Until</label>
                    <div class="d-flex">
                        <input id="field_slcLockUntil" type="datetime-local" class="form-control" name="slcLockUntil" formControlName="slcLockUntil" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.scheduleLock.slcLockedAt" for="field_slcLockedAt">Slc Locked At</label>
                    <div class="d-flex">
                        <input id="field_slcLockedAt" type="datetime-local" class="form-control" name="slcLockedAt" formControlName="slcLockedAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.scheduleLock.slcLockedBy" for="field_slcLockedBy">Slc Locked By</label>
                    <input type="text" class="form-control" name="slcLockedBy" id="field_slcLockedBy"
                           formControlName="slcLockedBy"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
