<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="certificateEmergencyText">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.certificateEmergencyText.detail.title">Certificate Emergency Text</span> {{ certificateEmergencyText.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.certificateEmergencyText.cetText">Cet Text</span></dt>
                <dd>
                    <span>{{ certificateEmergencyText.cetText }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.certificateEmergencyText.cetIsActive">Cet Is Active</span></dt>
                <dd>
                    <span>{{ certificateEmergencyText.cetIsActive }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/certificate-emergency-text', certificateEmergencyText.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
