<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="emergencyProcedure">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.emergencyProcedure.detail.title">Emergency Procedure</span> {{ emergencyProcedure.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.emergencyProcedure.empSystem">Emp System</span></dt>
                <dd>
                    <span>{{ emergencyProcedure.empSystem }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.emergencyProcedure.empReason">Emp Reason</span></dt>
                <dd>
                    <span>{{ emergencyProcedure.empReason }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.emergencyProcedure.empUser">Emp User</span></dt>
                <dd>
                    <span>{{ emergencyProcedure.empUser }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.emergencyProcedure.empIsActive">Emp Is Active</span></dt>
                <dd>
                    <span>{{ emergencyProcedure.empIsActive }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.emergencyProcedure.empDateStart">Emp Date Start</span></dt>
                <dd>
                    <span>{{ emergencyProcedure.empDateStart }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.emergencyProcedure.empDateEnd">Emp Date End</span></dt>
                <dd>
                    <span>{{ emergencyProcedure.empDateEnd }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/emergency-procedure', emergencyProcedure.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
